{% extends 'YaraBoatsCatalogBundle::layoutFR.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
{% block bodyClass %} {{ parent() }} {% endblock %}
{% block body %}
    
    {{ parent() }}

    <!-- Banner --> <div class="wrapper style2">
            <section id="banner">
                    <header>
                        <h2>D&eacute;couvrez nos bateaux</h2>
                        <p>
                            SELECTIONNEZ UNE MARQUE POUR EN SAVOIR PLUS
                        </p>
                     </header>

                    <div class="row">
                        <article class="2u special">
                         </article>
                         <article class="8u special">
                            <a href="#aquador"class="scrolly"> <img src={{asset('bundles/yaraboatscatalog/images/aquador_logo.png')}} alt="aquadorlogo" /></a>
                            <a href="#bella"class="scrolly"> <img src={{asset('bundles/yaraboatscatalog/images/bella_logo.png')}} alt="bellalogo" /></a>
                            <a href="#flipper"class="scrolly"> <img src={{asset('bundles/yaraboatscatalog/images/flipper_logo.png')}} alt="flipperlogo" /></a>
                         </article>
                
                    </div>

            </section>   
        </div>

    <!-- Aquador -->
            <div class="wrapper style1">

                    <section id="aquador" class="container special">
                            <header>
                                    <h2>Bateaux Aquador</h2>
                                    <p>
                                        HERITAGE SCANDINAVE
                                    </p>
                            </header>

                            <div class="row">
                                <article class="1u special">
                                </article>
                                <article class="10u special">
                                    <div id="slider">
                                        <img data-src={{asset('bundles/yaraboatscatalog/images/Aquador/walkaround.jpg')}} alt="aquador" />
                                        <img data-src={{asset('bundles/yaraboatscatalog/images/Aquador/daycruisers.jpg')}} alt="aquador" />
                                        <img data-src={{asset('bundles/yaraboatscatalog/images/Aquador/hardtop.jpg')}} alt="aquador" />
                                        <img data-src={{asset('bundles/yaraboatscatalog/images/Aquador/sporttop.jpg')}} alt="aquador" />
                                        <img data-src={{asset('bundles/yaraboatscatalog/images/Aquador/cabin.jpg')}} alt="aquador" />
                                    </div>

                                    <script>
                                        var slider = new IdealImageSlider.Slider({
                                            selector: '#slider',
                                            height: 400, // Required but can be set by CSS
                                            interval: 4000,
                                        });
                                        slider.start();
                                    </script>

                                    <footer>
                                            <a href="http://www.aquadorboats.fi/" target="_blank" class="button circled scrolly">D&eacute;couvrir Aquador</a>
                                    </footer>
                                </article>
                            </div>
                            <div class="row">
                                    <article class="2u special">
                                    </article>
                                    <article class="8u special">
                                        <strong>
                                            <p> 
                                                Les bateaux Aquador sont fabriqu&eacute;s dans quatre usines de production dernier cri en Finlande par un processus qui allie des technologies de pointe
                                                et les composites derni&egrave;re g&eacute;n&eacute;ration avec l'artisanat traditionnel.
                                            </p>
                                            
                                            <p>
                                                Pour assurer la qualit&eacute; et la s&eacute;curit&eacute; que les consommateurs attendent de Aquador, les dernier CAD/programme CNC et &eacute;quipements sont utilis&eacute;s dans 
                                                une ligne de production surveill&eacute;e avec pr&eacute;cision et qui r&eacute;pond aux normes les plus strictes du monde.
                                            </p>

                                            <p>
                                                Naturellement, tous les bateaux sont finis &agrave; la perfection, soigneusement inspect&eacute;s et certifi&eacute;s CE avant qu'ils ne quittent les lieux.
                                            </p>
                                        </strong>
                                    </article>
                                    <article class="2u special">
                                    </article>                                  
                            </div>
                    </section>           
            </div>
                                            
    <!-- Bella -->
            <div class="wrapper style1">

                    <section id="bella" class="container special">
                            <header>
                                    <h2>Bateaux Bella</h2>
                                    <p>
                                        EN BONNE COMPAGNIE
                                    </p>
                            </header>

                            <div class="row">
                                <article class="1u special">
                                </article>
                                <article class="10u special">
                                    <div id="slider2">
                                        <img data-src={{asset('bundles/yaraboatscatalog/images/Bella/cabin.jpg')}} alt="bella" />
                                        <img data-src={{asset('bundles/yaraboatscatalog/images/Bella/hardtop.jpg')}} alt="bella" />
                                        <img data-src={{asset('bundles/yaraboatscatalog/images/Bella/daycruisers.jpg')}} alt="bella" />
                                        <img data-src={{asset('bundles/yaraboatscatalog/images/Bella/open.jpg')}} alt="bella" />
                                    </div>

                                    <script>
                                        var slider2 = new IdealImageSlider.Slider({
                                            selector: '#slider2',
                                            height: 400, // Required but can be set by CSS
                                            interval: 4000,
                                        });
                                        slider2.start();
                                    </script>
                                    <footer>
                                            <a href="http://www.bellaboats.fi/index.php?page=home" target="_blank" class="button circled scrolly">D&eacute;couvrir Bella</a>
                                    </footer>
                                </article>
                            </div>
                            <div class="row">
                                    <article class="2u special">
                                    </article>
                                    <article class="8u special">
                                        <strong>
                                            <p> 
                                                Notre engagement envers le d&eacute;veloppement continu des produits et des m&eacute;thodes de production modernes assure un produit final de qualit&eacute; - un bateau Bella.
                                                Nous avons &eacute;tudi&eacute; la construction de bateaux dans divers pays et sommes constamment impliqu&eacute;s dans la coop&eacute;ration avec des designers ainsi que des fournisseurs de mati&egrave;res premi&egrave;res et d'&eacute;quipements.
                                            </p>
                                            
                                            <p>
                                                Nous utilisons les meilleurs mat&eacute;riaux, &eacute;quipements et accessoires dans nos bateaux.
                                            </p>

                                            <p>
                                                Gr&acirc;ce &agrave; une coop&eacute;ration &eacute;troite dans divers projets internationaux, nous sommes en mesure d'assurer &agrave; la fois une haute qualit&eacute; 
                                                et un excellent rapport qualit&eacute;-prix.
                                            </p>
                                        <strong>
                                    </article>
                                    <article class="2u special">
                                    </article>                                  
                            </div>
                    </section>           
            </div>                                           
                                            
    <!-- Flipper -->
            <div class="wrapper style1">

                    <section id="flipper" class="container special">
                            <header>
                                    <h2>Bateaux Flipper</h2>
                                    <p>
                                        DES IDEES AUX VAGUES
                                    </p>
                            </header>

                            <div class="row">
                                <article class="1u special">
                                </article>
                                <article class="10u special">
                                    <div id="slider3">
                                        <img data-src={{asset('bundles/yaraboatscatalog/images/Flipper/sporttop.jpg')}} alt="Flipper" />
                                        <img data-src={{asset('bundles/yaraboatscatalog/images/Flipper/sporttop2.jpg')}} alt="Flipper" />
                                        <img data-src={{asset('bundles/yaraboatscatalog/images/Flipper/sporttop3.jpg')}} alt="Flipper" />
                                        <img data-src={{asset('bundles/yaraboatscatalog/images/Flipper/daycruisers.jpg')}} alt="Flipper" />
                                        <img data-src={{asset('bundles/yaraboatscatalog/images/Flipper/daycruisers2.jpg')}} alt="Flipper" />
                                        <img data-src={{asset('bundles/yaraboatscatalog/images/Flipper/sportconsole.jpg')}} alt="Flipper" />
                                    </div>

                                    <script>
                                        var slider3 = new IdealImageSlider.Slider({
                                            selector: '#slider3',
                                            height: 400, // Required but can be set by CSS
                                            interval: 4000,
                                        });
                                        slider3.start();
                                    </script>
                                    <footer>
                                            <a href="http://flipperboats.fi/" target="_blank" class="button circled scrolly">D&eacute;couvrir Flipper</a>
                                    </footer>
                                </article>
                            </div>
                            <div class="row">
                                    <article class="2u special">
                                    </article>
                                    <article class="8u special">
                                        <strong>
                                            <p> 
                                                Avec nous, ce n'est pas la destination qui compte, c'est le voyage.
                                            </p>
                                            <p>                                                
                                                C'est pourquoi nous avons con&ccedil;u une structure de coque dernier cri qui rend la conduite et le voyage plus confortable que jamais, quelles que soient les conditions. 
                                                Nous avons &eacute;galement lanc&eacute; les ponts ouverts les plus grands et les plus pratiques de leur cat&eacute;gorie. 
                                                Il ne vous reste plus qu'&agrave; en profiter.
                                            </p>
                                        </strong>
                                    </article>
                                    <article class="2u special">
                                    </article>                                  
                            </div>
                    </section>           
            </div>                                                                                          
                                            
{% endblock %}